{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<div class="catalog">
  <div class="card-group">
    {% for category in categories %}
        <div class="card">
            <a href="{% url 'products:category' category.id %}"><img class="card-img-top" src="/media/{{ category.image }}" alt="{{ category.name }}" width="100"></a>
            <a href="{% url 'products:category' category.id %}" class="card-title text-center">{{ category.name }}</a>
        </div>
    {% endfor %}
  </div>
</div>
<br>
<div class="description">
        <h3 class="red">Горячее предложение</h3>
        <div class="card" style="max-width: 440px">
          <div class="text-center">
            <a href="{% url 'products:product' hot_product.id %}"><img class="card-img-center" src="/media/{{ hot_product.image }}" alt="{{ hot_product.name }}" style="height: 200px; width: auto"></a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ hot_product.name|title }}</h5>
              <p class="card-text">{{ hot_product.short_desc|title }}</p>
              <p class="card-text">Цена: {{ hot_product.price }}</p>
              <a class="btn btn-primary" href="{% url 'basket:add' hot_product.pk %}" role="button">Заказать</a>
            </div>
          </div>
        </div>
</div>

{% endblock %}